/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    background-color: #EEEEEE;
}

.sideNavCss{
    width: 70%;
}

.copyToClipboardMouseOnHove{
    cursor: pointer;
}

.toolBarText{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.matListSpaces > mat-list-item{
    margin-top: 10px;
    margin-bottom: 10px;
}


.discordImage{
     background-image: url('assets/img/discordRealName.gif');
     background-size: cover;
     margin-right: 10px;
}

.sidenavImage{
    background-image: url('assets/img/logo.png');
    background-size: cover;
}

.sideNavLinks{
    padding: 8px;
}
.sideNavLinks > button{
    margin-bottom: 5px;
}

.fillRemainingSpace {
    flex: 1 1 auto;
}

.toolBarTitle{
    margin-left: 15px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 24px;
    font-weight: 500;
}



.calculatorForm > mat-form-field{
    display: block;
}