<h2 class="mat-h2"><b>Changelog</b></h2>
<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>09/04/2018</h2>
  <mat-divider></mat-divider>
  <p>Added Exp per run. Now you should be able to precisely Calculate how many exact routes you need combining exp gain during the route + route vouchers.</p>
  <p>Added Discord Link bonus.</p>
  <p>Added sub-vouchers categories to Garbage/Police/Train.</p>
  <mat-divider></mat-divider>
  <p></p>

  <div fxLayout="row">
  <div mat-card-avatar class="discordImage"></div>
  <span fxFlexAlign="center">For feedback on errors or suggestions reach me @Real Name#1251</span>
  </div>
</mat-dialog-content>