<h2 class="mat-h2"><b>Changelog</b></h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group dynamicHeight>
    <mat-tab label="09/11/2018">
      <br>
      <p>Fixed some of voucher's values.</p>
      <p>Added some missing vouchers.</p>
    </mat-tab>
    <mat-tab label="09/10/2018">
      <br>
      <p>Updated UI for a much cleaner look.</p>
      <p>Reworked the code for faster performance.</p>
      <p>Now calculations are instantly made without the need of a button.</p>
    </mat-tab>
    <mat-tab label="09/04/2018">
      <br>
      <p>Added Exp per run. Now you should be able to precisely Calculate how many exact routes you need combining exp gain during the route + route vouchers.</p>
      <p>Added Discord Link bonus.</p>
      <p>Added sub-vouchers categories to Garbage/Police/Train.</p>
    </mat-tab>
  </mat-tab-group>





  <mat-divider></mat-divider>
  <p></p>
  <div fxLayout="row">
  <div mat-card-avatar class="discordImage"></div>
  <span fxFlexAlign="center">For feedback on errors or suggestions reach me @Real Name#1251</span>
  </div>
</mat-dialog-content>